@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    text-align: center;
    margin: 20px;
    background-color: #0D192B;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 40px;
    color: hsl(215, 51%, 70%);
    font-weight: bold;
}

.principal ul {
    background-color: #234069;
    margin: 0 auto;
    padding: 10px 0;
    width: 71%;
}

.principal li {
    display: inline-block;
    padding: 0 60px;
}

.principal a {
    color: hsl(215deg 51% 70%);
}

.principal a:hover {
    color: white;
}

h2 {
    margin: 40px 0;
    color: hsl(215, 51%, 70%);
    font-weight: 600;
}

img.foto-principal {
    width: 50%;
    border-radius: 5px;
}

p {
    margin: 0 auto;
    padding: 30px 0 5px; 
    width: 60vw;
    color: hsl(215, 51%, 70%);
}

h3 {
    color: white;
    font-weight: normal;
    padding-top: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.container img {
    max-width:200px;
    max-height:400px;
    width: auto;
    height: auto;
    padding: 40px 15px 5px;
}

h4 {
    color: white;
    margin: 30px;
}

h5 {
    color: white;
    padding: 5px 0;
    padding-bottom: 30px;
    margin: 0 30px;
    list-style: none;
    font-size: 17px;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    margin: 0 30px;
    padding: 30px;
}

.container-videos {
    display: flex;
    flex-direction: row;
}

