@media screen and (max-width:480px){
    body {
        width: 100vw;
        padding: 5px 20px;
        margin: 0 auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
    }

    img.foto-principal {
        width: 80%;
        border-radius: 5px;
    }

    .container-videos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 315px;
        margin: 0;
        padding: 30px 0;
    }
}