*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    text-align: center;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
}

.principal nav {
    
}

.principal ul {
    background-color: pink;
    margin: 0 auto;
    padding: 10px 0;
    width: 71%;
}

.principal li {
    display: inline-block;
    padding: 0 70px;
}

h2 {
    margin: 30px 0;

}

img {
    width: 50%;
}

p {
    margin: 0 auto;
    padding: 30px 0;
    width: 60vw;
}

h4 {
    margin: 10px;
}

.artistas li {
    padding: 5px 0;

}